@{
    ViewBag.Title = "ChinChin.org";
}

<div class="content-wrapper">
    <div id="container2" class="masonry">

        <div class="box">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="http://barrickpuebloviejo.com/wp-content/uploads/2011/03/escuela-enero-2.jpg" class="resize">
                    <div class="boxpad">
                        <div class="boxpad">
                            <p class="example-title">Utiles escolares.</p>
                        </div>
                    </div>
                    <div class="descripcion">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width:80%"></div>
                        </div>
                        RD$ 8,000 de RD$ 10,000
                    </div>
                </div>
            </div>
        </div>

                <div class="box">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://upload.wikimedia.org/wikipedia/commons/8/80/Farmer,_Nicaragua.jpg" class="resize">
                            <div class="boxpad">
                                <div class="boxpad">
                                    <p class="example-title">Semillas para Don Jose.</p>
                                </div>
                            </div>
                            <div class="descripcion">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width:40%"></div>
                                </div>
                                RD$ 8,000 de RD$ 20,000
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://www.cazurro.com/upload/fotoblog/FOTOBLOG__20101021_1287612135.jpg" class="resize">
                            <div class="boxpad">
                                <div class="boxpad">
                                    <p class="example-title">Triciclo para Jaime</p>
                                </div>
                            </div>
                            <div class="descripcion">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width:20%"></div>
                                </div>
                                RD$ 2,000 de RD$ 10,000
                            </div>
                        </div>
                    </div>
                </div>

        <div class="box">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="http://www.dominicanaonline.org/Portal/noticias/ecualib_500.jpg" class="resize">
                    <div class="boxpad">
                        <div class="boxpad">
                            <p class="example-title">Biblioteca para San Pedro</p>
                        </div>
                    </div>
                    <div class="descripcion">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width:80%"></div>
                        </div>
                        RD$ 10,000 de RD$ 15,000
                    </div>
                </div>
            </div>
        </div>


        </div>
    </div>


<div class="row">
    <div class="col-md-4">
        <h2>Aporta a tu pais</h2>
        <p>
            Con una pequeña cantidad dinero aportas para un prestamo para un microempresario local a una tasa de 0% de interes. Luego puedes ver el proyecto al que apoyaste mientras se desarrolla.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>El regalo de dar</h2>
        <p>Puedes ver diferentes proyectos y donar al que mas te interese. Cada donacion queda registrada a tu perfil y puedes darle seguimiento.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Leer mas &raquo;</a></p>
    </div>
</div>