
@{
    ViewBag.Title = "Details";
}

<section>
    <img src="http://placehold.it/250x200" />

    <h2>Don Ramon</h2>
    <h4>La vecindad del Chavo, Mexico DF</h4>
</section>

<section>
    <h3>Proyectos Apoyados</h3>
    
    <ul>
        <li><img src="http://placehold.it/250x200" /></li>
        <li><img src="http://placehold.it/250x200" /></li>
    </ul>
</section>

<section>
    <h3>Donaciones</h3>

    <ul>
        <li><img src="http://placehold.it/250x200" /></li>
    </ul>
</section>

<section>
    <h3>Feedback</h3>

    <ul>
        <li><img src="http://placehold.it/250x200" /></li>
        <li><img src="http://placehold.it/250x200" /></li>
    </ul>
</section>

