@model chinchini.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
}

<section>
    <img src="http://placehold.it/250x200" />

    <h2>@Html.DisplayFor(x => x.Name)</h2>
    <h4>La vecindad del Chavo, Mexico DF</h4>
</section>

<section>
    <h3>Proyectos Apoyados</h3>
    
    <ul>
    @foreach (var proj in ViewBag.projects) {
        <li><img src="http://placehold.it/250x200" /></li>
    }
    </ul>
</section>

<section>
    <h3>Donaciones</h3>

    <ul>
    @foreach (var don in ViewBag.donations) {
        <li><img src="http://placehold.it/250x200" /></li>
    }
    </ul>
</section>

<section>
    <h3>Feedback</h3>

    <ul>
        <li><img src="http://placehold.it/250x200" /><div>Gracias Don Ramon por apoyar mi proyecto!</div></li>
        <li><img src="http://placehold.it/250x200" /></li>
    </ul>
</section>

